<div id="main-container" class="container-fluid">
  <div class="row">
    <div class= "col-xs-6 col-xs-offset-3">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
      
      <%= yield %>
    </div>
  </div>
</div>